<div  >
  <h2><div class="sub_title"  id="{{catalogue_id}}" style="display: inline-block;">{{ step_summary.display_title}}</div>
    <i class="icon-help-circled" onClick="toggle1(this.parentNode.parentNode)" style="cursor:pointer;"></i></h2>
    {% include "html/utils/help_info.html" %}
    {% include "html/utils/col1_metrics.html" %}
    <div id="myDivPie" style="float: left; margin-left: 3%; margin-right:0%; margin-top: 2%;width: 100%">
      {{ step_summary.region_pie |safe }}
    </div>
    <div class="clear" ></div>
</div>
